/*
Please assimilate to these means of structure:
§§ <section> {}
§& <subsection> {}
@@ <name or alias>: <todo> {}


§§ colors
{
}
§§ font-stacks
{
}
*/


/*
§§ normalization
{
    based on
    - html5boilerplate.com, 20.02.2011
    - html5doctor.com/html-5-reset-stylesheet, v1.6.1
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-weight: bold;
}
td,
td img {
    vertical-align: top;
}

button,
input,
select,
textarea {
    margin: 0;
}
button {
    width: auto;
    overflow: visible;
}
textarea {
    overflow: auto;
}
input[type='radio'] {
    vertical-align: text-bottom;
}
.ie7 input[type='checkbox'] {
    vertical-align: baseline;
}
.ie6 input {
    vertical-align: text-bottom;
}
label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}
.ie6 legend,
.ie7 legend {
    margin-left: -7px;
}
input:valid,
textarea:valid {}
input:invalid,
textarea:invalid {
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
    background-color: #f0dddd;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
pre,
code,
kbd,
samp {
    font-family: monospace, sans-serif;
	tab-size: 4;
	-moz-tab-size: 4;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
small {
    font-size: 85%;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
a:link {
    -webkit-tap-highlight-color: #ff5e99;
}
a:hover,
a:active {
    outline: none;
}
a,
a:active {
    color: #748f60;
}
a:focus,
a:hover {
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: inherit;
}
ul,
ol,
li {
    list-style: none;
}
hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

::-moz-selection {
    background: #89c55a;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #89c55a;
    color: #fff;
    text-shadow: none;
}
/*}*/


/*
§§ base styles
{
*/

.interpreter {
    margin: 18px 0;
    padding: 6px 7px;
    min-height: 32px;
    border: 1px dotted #ccc;
}
.interpreter + .interpreter {
    margin: -8px 0 18px;
}
.interpreter table {
	border: 0;
}
.interpreter img {
	float: left;
}
.interpreter div {
	margin-left: 40px;
}
#main .interpreter .supported {
	background-color: #d1ffba;
}
#main .interpreter .partly {
	background-color: #ffefba;
}
#main .interpreter .atleast {
	background-color: #d1ffba;
}
#main .interpreter .unknown {
	background-color: #ddd;
}
#main .interpreter .no {
	background-color: #ffbabd;
}
/* highlighted */
.highlighted { font-family: monospace; color: #000; background-repeat: repeat-y; line-height: 130%;}
.highlighted a:link { text-decoration: none; }
.highlighted a:hover { background-color: #f0f000; }
.highlighted a:visited { text-decoration: none; }
.highlighted .imp {color: red;}
.highlighted .kw1 {color: #00f;}
.highlighted .kw2 {color: #7F0055; font-weight: bold;}
.highlighted .kw3 {color: #000;}
.highlighted .kw4 {color: #00f;}
.highlighted .co1 {color: #808080;}
.highlighted .co2 {color: #808080;}
.highlighted .co3 {color: #808080;}
.highlighted .co4 {color: #808080;}
.highlighted .coMULTI {color: #808080;}
.highlighted .es0 {color: #009;}
.highlighted .es1 {color: #009;}
.highlighted .es2 {color: #609;}
.highlighted .es3 {color: #609;}
.highlighted .es4 {color: #069;}
.highlighted .es5 {color: #069;}
.highlighted .es6 {color: #093;}
.highlighted .es_h {color: #009;}
.highlighted .br0 {color: #000;}
.highlighted .sy0 {color: #000;}
.highlighted .sy1 {color: #f00;}
.highlighted .st0 {color: #2a00ff;}
.highlighted .st_h {color: #008200;}
.highlighted .nu0 {color: #f00;}
.highlighted .nu8 {color: #208080;}
.highlighted .nu12 {color: #208080;}
.highlighted .nu19 {color:#800080;}
.highlighted .me1 {color: #000;}
.highlighted .me2 {color: #000;}
.highlighted .re0 {color: #600;}
.highlighted span.xtra { display:block; }
.highlighted .tab {display: inline-block; margin-right: 4px; font-size: 5px; line-height: 90%;}
/*}*/


body,
button,
input,
select,
textarea {
    color: #222;
    font-family: 'Helvetica', sans-serif;
    font-size: 13px;
    line-height: 1.3;
}

body {
    background: #fff url('http://tux-t450s/jsman_old/gfx/default/bg_side.png') repeat-y left top;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#main-header {
    height: 101px;
    background: url('http://tux-t450s/jsman_old/gfx/default/bg_header.png') repeat-x left top;
}

#main-header,
#main,
#main-footer {
    min-width: 800px;
}

#main {
	overflow: hidden;
}
#main > aside {
    float: left;
    padding: 5px;
    width: 215px;
}
#main > aside > * {
    margin: 0 25px;
}
#main > aside nav > ul {
    margin-top: 35px;
}
#main > aside nav > ul > li {
    margin-top: 25px;
}
#main > aside nav .menumanual a,
#main > aside nav .menusection a {
    color: #808080
}
#main > aside nav a {
	color: #333;
    font-size: 16px;
	text-decoration: none;
}
#main > aside nav a.selected {
    color: #333;
    font-weight: bold;
}
#main > aside nav .menuchild {
    margin-top: 10px;
}
#main > aside nav .menuchild > a {
    font-size: 13px;
}
#main > aside nav a:hover {
    text-decoration: underline;
}
#content {
    margin-left: 225px;
    padding: 40px;
}
#main-footer {
    margin-left: 225px;
    padding: 40px;
    font-size: 11px;
}

#logo {
	float: left;
	color: #6b6b6b;
	text-decoration: none;
}
#logo hgroup {
    padding-top: 25px;
	width: 225px;
	text-align: center;
}
#logo h1 {
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0 1px 0 #575757;
}
#logo h2 {
    margin-top: -4px;
	font-size: 16px;
}

#main-header > nav {
    float: right;
    margin-right: 40px;
    margin-top: 55px;
}

#main-header > form {
    float: left;
    margin: 32px 0 0 40px;
}
#main-header > form label {
    display: none;
}
#search {
    float: left;
    display: block;
	padding: 5px 10px;
	height: 27px;
	background: #fff none no-repeat;
	border: 1px solid #bdbdbd;
	box-shadow: inset 0 2px 3px #d0d0d0;
	font-size: 20px;
    -webkit-appearance: none;
	width: 280px;
}
#search + input {
    float: right;
    margin: 0 0 0 5px;
    padding: 0;
    height: 38px;
    width: 40px;
    background: url('http://tux-t450s/jsman_old/gfx/default/icons.png') no-repeat left top;
    border: 0;
    -moz-box-shadow: 0 1px 2px #63913e;
    -webkit-box-shadow: 0 1px 2px #63913e;
    box-shadow: 0 1px 2px #63913e;
    overflow: hidden;
    text-indent: -9999px;
}
#search + input:active {
    position: relative;
    top: 1px;
    -moz-box-shadow: 0 0 1px #63913e;
    -webkit-box-shadow: 0 0 1px #63913e;
    box-shadow: 0 0 1px #63913e;
}


#main h1 {
    margin-bottom: 30px;
    font-size: 32px;
}
#main h2 {
    margin-bottom: 20px;
	font-size: 29px;
	font-weight: normal;
	font-variant: small-caps;
	text-transform: lowercase;
}
#main h3 {
    margin: 19px 0 8px;
    font-size: 19px;
}
#main header h3 {
    display: inline-block;
}
#main header span {
    display: block;
}
#main h4 {
    font-size: 16px;
}
#main p {
    margin: 8px 0;
    line-height: 1.5em;
}
#main .feedback {
    float: right;
    font-size: 12px;
}
#main .feedback a {
    text-decoration: none;
}
#main .feedback a:hover {
    text-decoration: underline;
}
#main section {
    position: relative;
}
#main section > .feedback {
    position: absolute;
    top: 18px;
    right: 0;
}
#main section > header {
    overflow: hidden;
}
#main #content section {
    border-top: 2px solid #ccc;
    margin: 30px 0;
}

#main table {
    width: 100%;
}
#main th {
    text-align: left;
    padding: 3px 7px;
}
#main td {
    padding: 3px 7px;
    background: #eee;
    border-top: 3px solid #fff;
}
#main th + th,
#main td + td {
    border-left: 3px solid #fff;
}

#main pre {
    margin: 7px 0;
    background-color: #eee;
    border: 1px solid #ccc;
}

#main-footer > nav,
#main-header > nav {
    overflow: hidden;
}
#main-header > nav li {
    float: left;
    margin-left: 10px;
}
#main-footer > nav {
    padding: 5px 0 2px;
    border-top: 1px solid #ccc;
}
#main-footer > nav li {
    float: left;
    margin-right: 10px;
}


@media print {

    * {
        margin: 0;
        padding: 0;
    }

    html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, center, dl, dt, dd, ul, li, fieldset, form, label {
        font-size: 13px;
        font-family: verdana,arial,helvetica,sans-serif;
    }
    body {
        line-height: 1;
    }

    #main-header > nav, #main-header > form, #main > aside, #main-footer, div.feedback {
        display: none;
    }

    h1, h3 {
        color: #004646;
    }

    h1 {
        font-size: 18px;
        margin-bottom: 11px;
    }

    h3 {
        font-size: 15px;
        display: inline;
    }

    p {
        margin: 13px 0;
    }

    #logo h1 {
        width: 140px;
        text-align: right;
        color: #000;
        float: right;
        font-size: 26px;
        text-decoration: none;
    }
    #logo h1:after {
        content: ' jsman.net'
    }
    #logo h2 {
        display: none;
    }

    section {
        display: block;
        border: 2px solid #ccc; margin: 13px; padding: 13px;
    }
    section > header > span{
        color: #777;
        font-size: 10px;
    }
    section > div:last-child {
         margin-top: 14px;
    }

    .note {
        border: 1px solid #777; padding: 6px; background-color: #fff;
    }

    table {
        padding: 4px; width: 100%; background-color: #fff; border: 1px solid #777;
    }
    th, td {
        padding: 4px;
    }
    thead > tr > th {
        background-color: #fff;
    }
    tr:nth-child(even) {
        background-color: #fff;
    }
    tr:nth-child(odd) {
        background-color: #edeff4;
    }

    .interpreter {
        border: 1px solid #777; padding: 6px 13px; margin: 6px 0; min-height: 32px;
    }
    .interpreter img {
        float: left;
    }
    .interpreter div {
        margin-left: 40px;
    }
    .interpreter .supported {
        background-color: #d1ffba;
    }
    .interpreter .partly {
        background-color: #ffefba;
    }
    .interpreter .atleast {
        background-color: #bac6ff;
    }
    .interpreter .unknown {
        background-color: #ddd;
    }
    .interpreter .no {
        background-color: #ffbabd;
    }

    .example {
        margin-top: 20px; border: 1px solid #000;
    }
    .example > header > h6 {
        display: block; padding: 2px; border-bottom: 1px dotted #000; text-indent: 10px; margin: 0 0 1px 0;
        font-size: 14px;
    }
    .example > div {
        margin: 10px; border: 1px outset #000;
        font-size: 13px;
    }
    .example > div > p {
        padding: 2px; border-bottom: 1px outset #000000; margin: 0;
    }
    .example > div > div {
        padding: 6px;
    }

    blockquote.note {
        border: 1px solid #777; padding: 6px 13px; margin: 6px 0; background-color: #fff;
    }
    .caution {
        margin: 20px; padding: 20px 30px; border: 1px solid #777; background-color: #ffc;
    }
    .caution:before {
        content : 'Caution';
        text-align: center; font-weight: bold; color: #333; margin: 0; display: block;

    }
    .warning {
        margin: 20px; padding: 20px 30px; border: 1px solid #777; background-color: #fee;
    }
    .warning:before {
        content : 'Warning';
        text-align: center; font-weight: bold; color: #333; margin: 0; display: block;
    }

    /* highlighted */
    .highlighted { font-family: monospace; color: #000; background-repeat: repeat-y; }
    .highlighted a:link { text-decoration: none; }
    .highlighted a:hover { background-color: #f0f000; }
    .highlighted a:visited { text-decoration: none; }
    .highlighted .imp {color: red;}
    .highlighted .kw1 {color: #00f;}
    .highlighted .kw2 {color: #7F0055; font-weight: bold;}
    .highlighted .kw3 {color: #000;}
    .highlighted .kw4 {color: #00f;}
    .highlighted .co1 {color: #808080;}
    .highlighted .co2 {color: #808080;}
    .highlighted .co3 {color: #808080;}
    .highlighted .co4 {color: #808080;}
    .highlighted .coMULTI {color: #808080;}
    .highlighted .es0 {color: #009;}
    .highlighted .es1 {color: #009;}
    .highlighted .es2 {color: #609;}
    .highlighted .es3 {color: #609;}
    .highlighted .es4 {color: #069;}
    .highlighted .es5 {color: #069;}
    .highlighted .es6 {color: #093;}
    .highlighted .es_h {color: #009;}
    .highlighted .br0 {color: #000;}
    .highlighted .sy0 {color: #000;}
    .highlighted .sy1 {color: #f00;}
    .highlighted .st0 {color: #2a00ff;}
    .highlighted .st_h {color: #008200;}
    .highlighted .nu0 {color: #f00;}
    .highlighted .nu8 {color: #208080;}
    .highlighted .nu12 {color: #208080;}
    .highlighted .nu19 {color:#800080;}
    .highlighted .me1 {color: #000;}
    .highlighted .me2 {color: #000;}
    .highlighted .re0 {color: #600;}
    .highlighted span.xtra { display:block; }
    .highlighted .tab {display: inline-block; margin-right: 4px; font-size: 5px;}

}
